:root {
	--light: rgb(116, 185, 255);
	--dark: rgb(9, 132, 227);
	--darker: rgb(7, 108, 185);
	--background-color: rgba(116, 186, 255, 0.102);
	--svg-fill: rgb(223, 243, 255);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;
}
html::-webkit-scrollbar {
	width: 10px;
}

html::-webkit-scrollbar-track {
	background: rgb(179, 177, 177);
	background: var(--background-color);
	border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
	background: rgb(136, 136, 136);
	/* background: var(--light); */
	border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
	background: rgb(100, 100, 100);
	/* background: var(--dark); */
	border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
	background: rgb(68, 68, 68);
	/* background: var(--darker); */
	border-radius: 10px;
}

/* Utility class */
.title-wrapper {
	text-align: center;
	padding-top: 5rem;
}
.title {
	font-size: 2rem;
	color: var(--dark);
	position: relative;
	display: inline-block;
	margin: auto;
}
.title::before {
	content: " ";
	position: absolute;
	height: 3px;
	background: var(--dark);
	width: 100%;
	left: 0;
	bottom: 0;
}
.title::after {
	content: " ";
	position: absolute;
	height: 3px;
	background: var(--dark);
	width: 70%;
	left: 0;
	bottom: -10px;
	transform: translateX(20%);
}
.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	height: 1.1rem;
	width: 400px;
	margin-left: 1rem;
}

.progress-done {
	background-color: var(--light);
	border-radius: 20px;
	height: 1.1rem;
	width: 0;
	transition: 1s ease 0.3s;
	/* opacity: 0; */
}

.container {
	display: flex;
	padding: 4rem 0;
	justify-content: space-around;
	align-items: center;
}

/* Utility class End */

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 55px;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	top: 0;
	color: var(--dark);
	z-index: 1;
}
#logo {
	font-size: 2rem;
	font-weight: 600;
}
#navbar > .nav-link > a {
	color: black;
	text-decoration: none;
	font-size: 1.3rem;
	margin-right: 20px;
}
#navbar > .nav-link > a:hover {
	color: var(--dark);
}
#navbar > .social > i {
	/* color: var(--dark); */
	margin-right: 5px;
}
#navbar.sticky {
	background-color: var(--dark);
	color: white;
}
#navbar.sticky > .nav-link > a {
	color: white;
}
#navbar.sticky > .nav-link > a:hover {
	color: rgb(0, 0, 0, 0.5);
}

#main {
	display: flex;
	justify-content: space-around;
	height: 100vh;
	background-color: var(--background-color);
}
#main .left {
	display: flex;
	align-items: center;
}
#main .left-content > h1 {
	font-size: 4em;
}
#main .left-content > h1 > span {
	color: var(--dark);
}
#main .left h2 {
	font-family: monospace;
	font-weight: 300;
	font-size: 2rem;
	display: inline-block;
	padding: 4px;
	color: var(--dark);
	border-radius: 4px;
}
#main .right {
	display: flex;
	align-items: center;
}
#main .right > img {
	max-height: 80vh;
}
.deco {
	position: absolute;
	pointer-events: none;
	bottom: 0;
	left: 0;
	height: 50vh;
	z-index: -1;
}
.hire {
	margin-top: 2rem;
}
.hire > button {
	background-color: var(--dark);
	padding: 3px 5px;
	border: 2px solid transparent;
	border-radius: 4px;
	color: white;
	text-decoration: none;
	font-size: 1.4rem;
	cursor: pointer;
}
.hire > button:hover {
	background-color: var(--background-color);
	border-color: var(--dark);
	color: var(--dark);
}

/*  About */

/* #about .container {
	display: flex;
	align-items: center;
	margin: 3rem 0;
} */
#about .right {
	padding-right: 2rem;
	width: 50vw;
}
#about .left {
	width: 50vw;
}
#about .left img {
	width: 100%;
}
#about .right h3,
#skills .left h3 {
	font-size: 2rem;
	margin-bottom: 2rem;
}
#about .right p,
#skills .left p {
	line-height: 1.9;
	font-size: 1rem;
}

/* skills */
#skills {
	background-color: var(--background-color);
}
/* #skills .container {
	display: flex;
	padding: 5rem 0;
} */
#skills .left {
	width: 45%;
	padding-left: 2rem;
}
#skills .right {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 50%;
}
#skills tr {
	height: 3rem;
}

/* Service */
#service .container {
	flex-wrap: wrap;
}

#service .card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid black;
	border-radius: 4px;
	padding: 1rem 2rem;
}
#service .card:hover {
	background-color: var(--light);
}
#service .img-wrapper {
	height: 250px;
	width: 260px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#service .card-text {
	text-align: center;
	padding-top: 1rem;
}
#service .card-text h3 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
#service .card img {
	max-height: 250px;
	max-width: 250px;
}

#contact {
	background-color: var(--background-color);
	position: relative;
	overflow: hidden;
}

#contact form {
	display: flex;
	flex-direction: column;
	width: 450px;
	border: 2px solid var(--dark);
	border-radius: 4px;
	padding: 1rem;
}
#contact input {
	margin: 1rem 0;
	outline: none;
	padding: 2px 5px;
	font-size: 1.2rem;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	border-bottom: 1px solid;
	background-color: inherit;
}
#contact .sub-btn {
	padding: 6px 9px;
	background: linear-gradient(to right, var(--dark), var(--light));
	font-size: 1.2rem;
	border: none;
	border-radius: 8px;
	align-self: center;
	cursor: pointer;
	margin-top: 1.8rem;
}
#contact .svg-container {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(60%, 30%);
	z-index: -1;
}
#contact svg {
	fill: var(--svg-fill);
}
@media (max-width: 1190px) {
	.progress {
		width: 300px;
	}
	#service .card {
		padding: 1rem;
	}
}
@media (max-width: 950px) {
	#service .card {
		margin: 1rem;
		padding: 1rem 2rem;
	}
	#navbar {
		padding: 10px 20px;
	}
	#main .left-content > h1 {
		font-size: 3rem;
	}
	#main .deco {
		height: 40vh;
	}
	#contact .svg-container {
		transform: translate(70%, 30%);
	}
}
@media (max-width: 860px) {
	.container {
		flex-direction: column;
	}
	.container .left,
	.container .right {
		width: 80vw !important;
		padding: 1rem;
	}
	#main h1 {
		font-size: 2rem;
	}
	#main .hire > button {
		font-size: 1.2rem;
	}
	#main .right img {
		width: 35vw;
	}
	.left h3,
	.right h3 {
		font-size: 1.3rem !important;
		text-align: center;
	}
}
